body {
  font-family: sans-serif;
  text-align: center;
  background: #121212;
  color: white;
}

#videos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

video {
  width: 45%;
  height: auto;
  background: black;
  border-radius: 10px;
}
